@font-face {
    font-family: 'Aalto Display-Personal-use';
    src: url('Aalto-Display-Personal-use.woff2') format('woff2'),
        url('Aalto-Display-Personal-use.woff') format('woff'),
        url('Aalto-Display-Personal-use.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

